<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JewelleryManagementSystem.GeneralSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JewelleryManagementSystem.GeneralSettings>
            <setting name="BaseDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="MetalDirectory" serializeAs="String">
                <value>Metals</value>
            </setting>
            <setting name="OrnamentDirectory" serializeAs="String">
                <value>Ornaments</value>
            </setting>
            <setting name="CustomerDirectory" serializeAs="String">
                <value>Customers</value>
            </setting>
            <setting name="LastCustomerID" serializeAs="String">
                <value />
            </setting>
            <setting name="StockDirectory" serializeAs="String">
                <value>StockManagement</value>
            </setting>
        </JewelleryManagementSystem.GeneralSettings>
    </userSettings>
</configuration>